<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Historial
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-card *ngFor="let cart of historial; let i = index">
            <ion-card-header>
                <ion-card-title>Historial # {{ i + 1 }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-row class="ion-align-items-center">
                    <ion-col size="8">
                    </ion-col>
                    <ion-col size="4" class="ion-text-right">
                        <ion-button color="secondary" (click)="verDetalle(cart)">
                            <ion-icon name="añadir"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>